/* Diseño general para pantallas grandes (Escritorio) */
.main-container {
  max-width: 1200px;
  margin: 10%;
  padding: 10px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .main-container {
    max-width: 100%;
    margin: 5%;
    padding: 5px;
  }

  .product-section {
    margin-top: 0;
    padding: 10px;
    background: none;
  }

  .product-container {
    flex-direction: column;
    padding: 0;
  }

  .product-card {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
  }

  .product-image {
    height: 150px; /* Reduce el tamaño en móviles */
  }

  /* Botones de control en el carousel */
  .carousel-control.left,
  .carousel-control.right {
    display: none; /* Ocultarlos en móviles si no se requieren */
  }

  .add-cart-button,
  .option-button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Ajustes para pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    max-width: 100%;
    margin: 5%;
  }

  .product-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-card {
    width: calc(50% - 20px); /* 2 productos por fila */
    margin-bottom: 20px;
  }

  .product-image {
    height: 180px;
  }
}

/* Estilos generales */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card {
  min-height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-section {
  position: relative;
  margin-top: -250px;
  z-index: 2;
  background: linear-gradient(to top, rgb(243, 243, 243) 80%, rgba(212, 212, 212, 0.055) 100%);
  padding: 5px;
}

.product-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 220px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.01);
}

.add-cart-button {
  margin-top: 10px;
  width: 100%;
}

/* Footer */
.footer {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
}

.nav-link {
  color: #6c757d;
}

.nav-link:hover {
  color: #000;
}

.text-muted {
  color: #6c757d !important;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}
